.movie-card {
  max-width: 275px;
}

.movie-card-media {
  height: 200px;
}

.movieView {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.filterList {
  width: 20%;
  min-width: 150px;
  flex-grow: 1;
  margin: 10px;
}

.movieGrid {
  width: 75%;
  min-width: 275px;
  flex-grow: 2;
  margin: 10px;
}





