.movie-grid {
    display: flex;
    width: 90%;
    min-width: 275px;
    flex-grow: 2;
    padding: 10px;
}

.movie-card {
    width: 275px;
    max-width: 275px;
    height: 450px;
    max-height: 450px;
}

.movie-card-title {
    max-height: 65px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.movie-card-media {
    height: 200px;
}

.movie-card-content {
    height: 160px;
    max-height: 160px;
}

.movie-card-text {
    height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.favorite-page {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.favorite-button {
    margin-top: 10px;
}

.link {
    text-decoration: none;
    color: white;
}