/* MOVIE-SEARCH-PAGE */

.moviePageHorizontal, .moviePageVertical {
    margin-top: 20px;
    display: flex;
    flex-wrap: nowrap;
}

.moviePageVertical {
    flex-direction: column;
}

.moviePageHorizontal {
    flex-direction: row;
}

.movieView {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.movieGrid {
    display: flex;
    width: 90%;
    min-width: 275px;
    flex-grow: 2;
    margin: 10px;
}

/* (Filters, etc.) */

.filterContainerHorizontal {
    width: 250px;
}
.filterContainerVertical {
    width: 100%;
}

.movieViewHeader {
    width: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
}

.filterList, .filterRange {
    min-width: 200px;
    flex-grow: 1;
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.filterList > li {
    width: 100%;
}
.filterList > div:nth-child(n+1) {
    width: 200px;
}

.filterRange > div:nth-child(n+1) {
    width: 200px;
}

.rangeSlider {
    margin-left: 25px;
    margin-right: 25px;
}

.movietitle-searchfield {
    max-width: 400px;
    width: 100%;
}

.movieViewHeader > div:nth-last-child(2) {
    margin: 25px;
}

.orderContainer {
    display: flex;
}

.orderSelect {
    width: 175px;
}

.pager {
    align-self: center;
    margin: 25px auto;
}

.movie-grid {
    padding: 10px;
    margin: 10px;
}

.movie-card {
    width: 275px;
    max-width: 275px;
    height: 450px;
    max-height: 450px;
}

.movie-card-title {
    max-height: 65px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.movie-card-media {
    height: 200px;
}

.movie-card-content {
    height: 160px;
    max-height: 160px;
}

.movie-card-text {
    height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.favoritePage {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.favoriteButton {
    margin-top: 10px;
}

.link {
    text-decoration: none;
    color: white;
}