.searchPage {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.searchView {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}


@media only screen and (max-width: 960px) {
    .searchPage {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .filterContainer {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}


.searchPageHeader {
    width: 95%;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-evenly;
}

.searchPageHeader > div {
    margin: 25px;
}

.showFiltersButton {
    margin-top: 50px;
}

.searchField {
    max-width: 400px;
    width: 100%;
}

.pager {
    align-self: center;
    margin: 25px auto;
}

/* (Filters, etc.) */

.filterContainer {
    width: 250px;
    display: flex;
    flex-direction: column;
}

.filterSelectLanguage {
    width: 300px;
}

.genreList {
    min-width: 200px;
    flex-grow: 1;
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.genreList > li {
    width: 100%;
}
.genreList > div:nth-child(n+1) {
    width: 175px;
}

.rangeSlider {
    margin-left: 25px;
    margin-right: 25px;
}

.orderContainer {
    width: 250px;
    margin: 25px;
    display: flex;
}

.orderSelect {
    width: 175px;
}


