.navbarRoot{
    flex-grow: 1;
}
.menuButton {
    margin-right: 8px;
}
.titleWide, .titleNarrow {
    flex-grow: 1;
}
.userOptions{
    flex-grow: 1;
}
.link {
    text-decoration: none;
    color: white;
}