.navbar > div {
    justify-content: space-evenly;
}

.navbarRight {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.link {
    text-decoration: none;
    color: white;
}